@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';


.programs {
  .program {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .program {
      margin-top: 20px;
    }

    .programLink {
      @include link;
    }
  }
}
